# Streamlit and UI
streamlit==1.39.0
streamlit-chat==0.1.1

# AI/LLM
openai==1.47.0
gtts==2.5.1
langchain>=0.1.260


# Web search
duckduckgo-search==6.1.5
requests==2.31.0
python-dotenv==1.0.1

# Data & ML
numpy==1.26.4
faiss-cpu==1.12.0


# PDF and text processing
PyPDF2==3.0.1



